<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card lesson-border">
    <img
      class="card-img-top"
      src="{{ inputData.image_path }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text"><b>Date: </b>{{ inputData.startdate }}</p>
      <p class="card-text"><b>Week: </b>{{ inputData.week }}</p>
      <h5 class="card-title"><b>Title: </b>{{ inputData.title }}</h5>
      <p class="card-text"><b>Description: </b>{{ inputData.description }}</p>
      <p class="card-text"><b>Category: </b>{{ inputData.category }}</p>
      <p class="card-text"><b>Content: </b>{{ inputData.lessoncontent }}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
